h1 {
    color: rgb(89, 89, 209);
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background: cyan;
    padding: 50px;
    border: 2px solid crimson;
}

#spanId {
    font-size: 25px;
    margin: 50px;
}